DJANGO_SETTINGS_MODULE=config.settings.dev
DJANGO_SECRET_KEY=change-this-to-a-random-secret-key
POSTGRES_DB=musiki
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
